<div class="container pReq">
        <!-- title row -->
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center title">
                <h5>INTRODUCTION</h5>
                <h1>Welcome to Beroe LiVE</h1>
                <p>We're excited to have you on board for the launch of our newest Initiative
                    aimed at
                    easing
                    compliance efforts.</p>
                <div class="row"></div>
    
            </div>
            <div class="col-md-2"></div>
        </div>
    
        <!-- body row -->
        <div class="row">
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="svgContainer">
                        <i-upload class="big"></i-upload>
                    </div>
                    <h3 class="card-body addReqMon">Add Suppliers</h3>
                    <p class="noteForUser">Upload a CSV file to quickly add your supplier.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="svgContainer">
                        <i-send class="big"></i-send>
                    </div>
                    <h3 class="card-body addReqMon">Request Key Data</h3>
                    <p class="noteForUser">Specify the data you need to manage your supplier compliance.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="svgContainer">
                        <i-trending-up class="big"></i-trending-up>
                    </div>
                    <h3 class="card-body addReqMon">Monitor Results</h3>
                    <p class="noteForUser">Track supplier compliance from a centralized location.</p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <p class="terms-line">I confirm that I am a member of a Procurement, Sourcing or Supply Chain Organization.
                        <br>By signing up, I accept the <a (click)='terms()'>Terms of Service.</a></p>
        </div>
    
    
        <div class="row">
            <div class="col-md-4 col-2"></div>
            <div class="col-md-4 col-8 text-center">
                <!-- button here -->
                <button class="btn btn-prime1 " (click)="getStarted()" type="submit">
                    <div class="text-center">GET STARTED</div>
                </button>
                <!-- <button routerLink="/onboard/pincode" (click)="getStarted()" type="submit">
                    <div class="text-center">GET STARTED</div>
                </button> -->
                <p class="lightGreyFonts">Want an additional information? <a class="faq-Link" (click)="openFaq()">Check out
                        the
                        FAQ</a>
            </div>
            <div class="col-md-4 col-2"></div>
        </div>
    </div>
    
    
   