<div class="footer">
    <div class="row">
        <nav class="mx-auto text-center" style="display: inline-flex">
            <a>
                <p style="cursor: default" class="footerLinks">© Copyright 2019 Beroe. All rights reserved </p>
            </a>
           &nbsp; | &nbsp;
            <a style="cursor:pointer" (click)="openTerms()">
                <p class="footerLinks">Terms of Use </p>
            </a>
            &nbsp; | &nbsp;
            <a style="cursor:pointer" (click)="openPrivacy()">
                <p class="footerLinks">Privacy Policy</p>
            </a>
            &nbsp; | &nbsp;
            <a style="cursor:pointer" (click)="openCookie()">
                <p class="footerLinks">Cookie Policy</p>
            </a>
    </div>
</div>
