<div>
  <div class="container">
    <div class="row" #target>
      <div class="col-md-3 pl-0">
        <div class="card" [ngClass]="{'card-active , card1': showMore !== ''}">
          <div class="card-body">
            <span class="card-title">Financial Data</span>
            <img class="filter" (click)="openFilterDetails('financial');" src="../../../../content/images/filter.svg" />
            <div *ngIf="ffilter" class="map-dropdown-contents">
              <ul class="spacing">
                <li>Groups</li>
                <li>Flags</li>
                <li>Response</li>
                <li>Advanced</li>
                <li>Saved</li>
              </ul>
            </div>
            <div class="dropdown">
              <button class="dropbtn" (click)="showdropdown('financial')">D&B SER Rating</button>
              <i class="fa">&#xf107;</i>
              <div id="env" class="dropdown-content" *ngIf="showFinancialdropdown">
                <a (click)="clickFinancial('D&B Rating')">D&B Rating</a>
                <a (click)="clickFinancial('D&B SER Rating')">D&B SER Rating</a>
                <a (click)="clickFinancial('D&B Paydex')">D&B Paydex</a>
              </div>
            </div>
          </div>
          <div class="padd25">
            <jhi-column-chart *ngIf="clickfinance==='D&B Rating'" [chartData]="columnData" [labels]="true">
            </jhi-column-chart>
            <jhi-column-chart *ngIf="clickfinance==='D&B SER Rating'" [chartData]="columnData" [labels]="true">
            </jhi-column-chart>
            <jhi-spline-chart *ngIf="clickfinance==='D&B Paydex'" [chartData]="columnData" [labels]="false">
            </jhi-spline-chart>
            <div class="rectangle" [ngStyle]="{'bottom':clickfinance==='D&B Paydex' ? '17px' : '40px' }">
            </div>
            <div *ngIf="clickfinance!=='D&B Paydex'" class="risk">
              <p>Low Risk</p>
              <p>High Risk</p>
            </div>
            <div *ngIf="clickfinance==='D&B Paydex'" class="risk">
              <p>0</p>
              <p>100</p>
            </div>
          </div>
          <div class="card-body flex" [ngClass]="{'textDown' : financialdetails == 'Hide details'}">
            <span class="details" (click)="showHideFinancialData()">{{ financialdetails }}</span>
            <i *ngIf="financialdetails == 'More details'" class="fa fa-angle-down color"></i>
            <i *ngIf="financialdetails == 'Hide details'" class="fa fa-angle-up color"></i>
          </div>
        </div>
      </div>
      <div class="col-md-3 pl-0" style="position: relative">
        <div class="card" [ngClass]="{'card-active , card1': showEnv !== ''}">
          <div class="card-body">
            <span class="card-title">Environmental Data</span>
            <img class="filter" (click)="openFilterDetails('environment');"
              src="../../../../content/images/filter.svg" />
            <div *ngIf="envfilter" class="map-dropdown-contents">
              <ul class="spacing">
                <li>Groups</li>
                <li>Flags</li>
                <li>Response</li>
                <li>Advanced</li>
                <li>Saved</li>
              </ul>
            </div>
            <div class="dropdown">
              <button class="dropbtn" (click)="showdropdown('env')">Overall Rating</button>
              <i class="fa fa-angle-down color"></i>
              <div class="dropdown-content" *ngIf="showEnvdropdown">
                <a (click)="environmental('Overall Rating')">Overall Rating</a>
                <a (click)="environmental('Labour& Human rights')">Labour& Human rights</a>
                <a (click)="environmental('Ethics')">Ethics</a>
                <a (click)="environmental('Environment')">Environment</a>
                <a (click)="environmental('Sustainable procurem..')">Sustainable procurem..</a>
              </div>
            </div>
          </div>
          <div class="padd25">
            <jhi-column-chart *ngIf="clickEnvironmental==='Overall Rating'" [chartData]="columnDatas" [labels]="true">
            </jhi-column-chart>
            <jhi-column-chart *ngIf="clickEnvironmental==='Labour& Human rights'" [chartData]="columnDatas"
              [labels]="true">
            </jhi-column-chart>
            <jhi-column-chart *ngIf="clickEnvironmental==='Ethics'" [chartData]="columnDatas" [labels]="true">
            </jhi-column-chart>
            <jhi-column-chart *ngIf="clickEnvironmental==='Environment'" [chartData]="columnDatas" [labels]="true">
            </jhi-column-chart>
            <jhi-column-chart *ngIf="clickEnvironmental==='Sustainable procurem..'" [chartData]="columnDatas"
              [labels]="true">
            </jhi-column-chart>
            <div class="abc">
              <div>
                <span class="rectangle1"> </span>
                <span class="rectangle2"></span>
                <span class="rectangle3"></span>
                <span class="rectangle4"></span>
                <span class="rectangle5"></span>
              </div>
            </div>
            <div class="risk">
              <p>High Risk</p>
              <p>Low Risk</p>

            </div>
          </div>
          <div class="card-body flex" [ngClass]="{'textDown' : environmentdetails == 'Hide details'}">
            <span class="details" (click)="showHideEnivornData()">{{ environmentdetails }}</span>
            <i *ngIf="environmentdetails == 'More details'" class="fa fa-angle-down color"></i>
            <i *ngIf="environmentdetails == 'Hide details'" class="fa fa-angle-up color"></i>
          </div>
        </div>
      </div>
      <div class="col-md-3 pl-0">
        <div class="card" [ngClass]="{'card-active , card1': showEthical !== ''}">
          <div class="card-body">
            <span class="card-title">Ethical and Regulatory Data</span>
            <img class="filter" (click)="openFilterDetails('ethical')" src="../../../../content/images/filter.svg" />
            <div *ngIf="ethicalfilter" class="map-dropdown-contents">
              <ul class="spacing">
                <li>Groups</li>
                <li>Flags</li>
                <li>Response</li>
                <li>Advanced</li>
                <li>Saved</li>
              </ul>
            </div>
            <div class="dropdown">
              <button class="dropbtn" (click)="showdropdown('ethical')">Overall Appearance</button>
              <i class="fa">&#xf107;</i>
              <div class="dropdown-content" *ngIf="showEthicaldropdown">
                <a (click)="showEthicalGraphs('overall')">Overall appearance</a>
                <a (click)="showEthicalGraphs('corruption')">Corruption issue</a>
                <a (click)="showEthicalGraphs('fraud')">Fraud issues</a>
                <a (click)="showEthicalGraphs('regulatory')">Regulatory issues</a>
                <a (click)="showEthicalGraphs('sanctions')">Sanctions</a>
              </div>
            </div>
          </div>
          <div class="padd25">
            <jhi-column-chart [chartData]="ethicaldata" [labels]="true"></jhi-column-chart>
            <div class="abc">
              <div>
                <span class="rectangle4"></span>
                <span class="rectangle3"></span>
                <span class="rectangle2"></span>
                <span class="rectangle1"></span>
                <span class="rectangle6"></span>
              </div>
            </div>
            <div class="risk risk-appearance">
              <p> APPEARANCE</p>
            </div>
          </div>
          <div class="card-body flex" [ngClass]="{'textDown' : ethicaldetails == 'Hide details'}">
            <span class="details" (click)="showHideEthicalData()">{{ ethicaldetails }}</span>
            <i *ngIf="ethicaldetails == 'More details'" class="fa fa-angle-down color"></i>
            <i *ngIf="ethicaldetails == 'Hide details'" class="fa fa-angle-up color"></i>
          </div>
        </div>
      </div>
      <div class="col-md-3 pl-0">
        <div class="card" [ngClass]="{'card-active , card1': showLabor !== ''}">
          <div class="card-body">
            <span class="card-title">Labor, Health & Safety Data</span>
            <img class="filter" (click)="openFilterDetails('labor')" src="../../../../content/images/filter.svg" />
            <div *ngIf="laborfilter" class="map-dropdown-contents">
              <ul class="spacing">
                <li>Groups</li>
                <li>Flags</li>
                <li>Response</li>
                <li>Advanced</li>
                <li>Saved</li>
              </ul>
            </div>
            <div class="dropdown">
              <button class="dropbtn" (click)="showdropdown('labor')">Overall Appearance</button>
              <i class="fa">&#xf107;</i>
              <div class="dropdown-content" *ngIf="showlabordropdown">
                <a (click)="showLaborGraphs('overall')">Overall appearance</a>
                <a (click)="showLaborGraphs('discrimanation')">Discrimanation/workforce..</a>
                <a (click)="showLaborGraphs('human')">Human Right Issues</a>
                <a (click)="showLaborGraphs('work')">Workforce Disputes</a>
                <a (click)="showLaborGraphs('workforce')">Workforcehealthy/Saftey Is</a>
              </div>
            </div>
          </div>
          <div class="padd25">
            <jhi-column-chart [chartData]="ethicaldata" [labels]="true"></jhi-column-chart>
            <div class="abc">
              <div>
                <span class="rectangle4"></span>
                <span class="rectangle3"></span>
                <span class="rectangle2"></span>
                <span class="rectangle1"></span>
                <span class="rectangle6"></span>
              </div>
            </div>
            <div class="risk risk-appearance">
              <p>APPEARANCE</p>
            </div>
          </div>
          <div class="card-body flex" [ngClass]="{'textDown' : labordetails == 'Hide details'}">
            <span class="details" (click)="showHideLaborData()">{{ labordetails }}</span>
            <i *ngIf="labordetails == 'More details'" class="fa fa-angle-down color"></i>
            <i *ngIf="labordetails == 'Hide details'" class="fa fa-angle-up color"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr *ngIf=" showMore != '' || showEnv != '' " class="border-full" color="#7B4BD8">
</div>
<div class="bg-color" *ngIf="showSubCards">
  <div class="container">
    <div class="row" #myDiv>
      <div class="col-md-4 pl-0">
        <div class="card">
          <div class="card-body">
            <span class="card-title">D&B Rating</span>
            <img class="filter" (click)="onClickdrop()" src="../../../../content/images/filter.svg" />
            <div *ngIf="financialdb" class="map-dropdown-contents">
              <ul class="spacing">
                <li>Groups</li>
                <li>Flags</li>
                <li>Response</li>
                <li>Advanced</li>
                <li>Saved</li>
              </ul>
            </div>
            <div>
              <jhi-bar [chartData]="treeData"></jhi-bar>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 pl-0">
        <div class="card">
          <div class="card-body">
            <span class="card-title">D&B SER Rating</span>
            <img class="filter" (click)="onClickdrop()" src="../../../../content/images/filter.svg" />
            <div class="padd25">
              <jhi-column-chart [chartData]="columnData" [labels]="false">
              </jhi-column-chart>
              <div class="rectangle" [ngStyle]="{'bottom': '17px'}">
              </div>
              <div class="risk">
                <p>Low Risk</p>
                <p>High Risk</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 pl-0">
        <div class="card">
          <div class="card-body">
            <span class="card-title">D&B Paydex</span>
            <img class="filter" (click)="onClickdrop()" src="../../../../content/images/filter.svg" />
            <div class="padd25">
              <jhi-spline-chart [chartData]="splineData" [labels]="false">
              </jhi-spline-chart>
              <div class="rectangle" [ngStyle]="{'bottom': '17px'}">
              </div>
              <div class="risk">
                <p>0</p>
                <p>100</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="bg-color" *ngIf="showEnvGraph">
  <div class="container">
    <div class="row" #myDiv>
      <div class="col-md-4 pl-0">
        <div class="card">
          <div class="card-body">
            <span class="card-title">Overall Rating</span>
            <img class="filter" (click)="onClickdrop()" src="../../../../content/images/filter.svg" />
            <div class="padd25">
              <jhi-column-chart [chartData]="columnDatas" [labels]="true"></jhi-column-chart>
              <div class="abc">
                <div>
                  <span class="rectangle1"> </span>
                  <span class="rectangle2"></span>
                  <span class="rectangle3"></span>
                  <span class="rectangle4"></span>
                  <span class="rectangle5"></span>
                </div>
              </div>
              <div class="risk">
                <p>High Risk</p>
                <p>Low Risk</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 pl-0">
        <div class="card">
          <div class="card-body">
            <span class="card-title">Labour& Human rights</span>
            <img class="filter" (click)="onClickdrop()" src="../../../../content/images/filter.svg" />
            <div class="padd25">
              <jhi-column-chart [chartData]="columnDatas" [labels]="true"></jhi-column-chart>
              <div class="abc">
                <div>
                  <span class="rectangle1"> </span>
                  <span class="rectangle2"></span>
                  <span class="rectangle3"></span>
                  <span class="rectangle4"></span>
                  <span class="rectangle5"></span>
                </div>
              </div>
              <div class="risk">
                <p>High Risk</p>
                <p>Low Risk</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 pl-0">
        <div class="card">
          <div class="card-body">
            <span class="card-title">Ethics</span>
            <img class="filter" (click)="onClickdrop()" src="../../../../content/images/filter.svg" />
            <div class="padd25">
              <jhi-column-chart [chartData]="columnDatas" [labels]="true"></jhi-column-chart>
              <div class="abc">
                <div>
                  <span class="rectangle1"> </span>
                  <span class="rectangle2"></span>
                  <span class="rectangle3"></span>
                  <span class="rectangle4"></span>
                  <span class="rectangle5"></span>
                </div>
              </div>
              <div class="risk">
                <p>High Risk</p>
                <p>Low Risk</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="bg-color" *ngIf="showEthicGraph">
  <div class="container">
    <div class="row" #myDiv>
      <div class="col-md-4 pl-0">
        <div class="card">
          <div class="card-body">
            <span class="card-title">Overall Appearances</span>
            <img class="filter" (click)="onClickdrop()" src="../../../../content/images/filter.svg" />
            <div class="padd25">
              <jhi-column-chart [chartData]="ethicaldata" [labels]="true"></jhi-column-chart>
              <div class="abc">
                <div>
                  <span class="rectangle4"></span>
                  <span class="rectangle3"></span>
                  <span class="rectangle2"></span>
                  <span class="rectangle1"></span>
                  <span class="rectangle6"></span>
                </div>
              </div>
              <div class="risk risk-appearance">
                <p>APPEARANCE</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 pl-0">
        <div class="card">
          <div class="card-body">
            <span class="card-title">Corruption Issues</span>
            <img class="filter" (click)="onClickdrop()" src="../../../../content/images/filter.svg" />
            <div class="padd25">
              <jhi-column-chart [chartData]="ethicaldata" [labels]="true"></jhi-column-chart>
              <div class="abc">
                <div>
                  <span class="rectangle4"></span>
                  <span class="rectangle3"></span>
                  <span class="rectangle2"></span>
                  <span class="rectangle1"></span>
                  <span class="rectangle6"></span>
                </div>
              </div>
              <div class="risk risk-appearance">
                <p>APPEARANCE</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 pl-0">
        <div class="card">
          <div class="card-body">
            <span class="card-title">Fraud Issues</span>
            <img class="filter" (click)="onClickdrop()" src="../../../../content/images/filter.svg" />
            <div class="padd25">
              <jhi-column-chart [chartData]="ethicaldata" [labels]="true"></jhi-column-chart>
              <div class="abc">
                <div>
                  <span class="rectangle4"></span>
                  <span class="rectangle3"></span>
                  <span class="rectangle2"></span>
                  <span class="rectangle1"></span>
                  <span class="rectangle6"></span>
                </div>
              </div>
              <div class="risk risk-appearance">
                <p>APPEARANCE</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="bg-color" *ngIf="showLabourGraph">
  <div class="container">
    <div class="row" #myDiv>
      <div class="col-md-4 pl-0">
        <div class="card">
          <div class="card-body">
            <span class="card-title">Overall Appearances</span>
            <img class="filter" (click)="onClickdrop()" src="../../../../content/images/filter.svg" />
            <div class="padd25">
              <jhi-column-chart [chartData]="ethicaldata" [labels]="true"></jhi-column-chart>
              <div class="abc">
                <div>
                  <span class="rectangle4"></span>
                  <span class="rectangle3"></span>
                  <span class="rectangle2"></span>
                  <span class="rectangle1"></span>
                  <span class="rectangle6"></span>
                </div>
              </div>
              <div class="risk risk-appearance">
                <p>APPEARANCE</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 pl-0">
        <div class="card">
          <div class="card-body">
            <span class="card-title">Discrimanation/workforce.</span>
            <img class="filter" (click)="onClickdrop()" src="../../../../content/images/filter.svg" />
            <div class="padd25">
              <jhi-column-chart [chartData]="ethicaldata" [labels]="true"></jhi-column-chart>
              <div class="abc">
                <div>
                  <span class="rectangle4"></span>
                  <span class="rectangle3"></span>
                  <span class="rectangle2"></span>
                  <span class="rectangle1"></span>
                  <span class="rectangle6"></span>
                </div>
              </div>
              <div class="risk risk-appearance">
                <p>APPEARANCE</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 pl-0">
        <div class="card">
          <div class="card-body">
            <span class="card-title">Human Right Issues</span>
            <img class="filter" (click)="onClickdrop()" src="../../../../content/images/filter.svg" />
            <div class="padd25">
              <jhi-column-chart [chartData]="ethicaldata" [labels]="true"></jhi-column-chart>
              <div class="abc">
                <div>
                  <span class="rectangle4"></span>
                  <span class="rectangle3"></span>
                  <span class="rectangle2"></span>
                  <span class="rectangle1"></span>
                  <span class="rectangle6"></span>
                </div>
              </div>
              <div class="risk risk-appearance">
                <p>APPEARANCE</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="container">
  <div class="row Custom margin-owner" #owner>
    <div class="col-md-6 pl-0">
      <div class="card">
        <div class="card-body pb-0">
          <span class="card-title">Response Stats</span>
          <img class="filter" (click)="openFilterDetails('ownership')" src="../../../../content/images/filter.svg" />
          <div *ngIf="ownershipfilter" class="map-dropdown-contents">
            <ul class="spacing">
              <li>Groups</li>
              <li>Flags</li>
              <li>Response</li>
              <li>Advanced</li>
              <li>Saved</li>
            </ul>
          </div>
          <div class="row">
            <div class="col-md-4">
              <jhi-pie-chart [chartData]="chartData" hideTooltipPerct='true'></jhi-pie-chart>
            </div>
            <div class="col-md-3">
              <ul class="spacing">
                <li *ngFor="let data of chartData">
                  <span>{{data.label}}</span>
                </li>
              </ul>
            </div>
            <div>
              <ul class="spacing">
                <li *ngFor="let data of chartData">
                  <span><b>{{data.value}}</b></span>
                  <span class="spanPerc">{{data.value}}%</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 pl-0">
      <div class="card" #response>
        <div class="card-body pb-0">
          <span class="card-title">Response Funnel</span>
          <img class="filter" (click)="openFilterDetails('response')" src="../../../../content/images/filter.svg" />
          <div *ngIf="resfilter" class="map-dropdown-contents">
            <ul class="spacing">
              <li>Groups</li>
              <li>Flags</li>
              <li>Response</li>
              <li>Advanced</li>
              <li>Saved</li>
            </ul>
          </div>
          <jhi-bar [chartData]="responseFunnelData"></jhi-bar>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-map">
    <div class="col-md-9 Custom col-map pl-0">
      <div class="float-L">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active" href="#">HQ location</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Site location</a>
          </li>
        </ul>
      </div>
      <div class="float-R pt-3">
        <img class="filter" (click)="onClickdrop()" src="../../../../content/images/filter.svg" />
      </div>
      <div class="map-container">
        <jhi-map></jhi-map>
      </div>
      <div class="dropdown">
        <button class="map-dropbtn" (click)="showMapDropDown()">{{mapdropdown}}
          <i class="fa fa-angle-up"></i>
        </button>
        <div *ngIf="mapdrop" class="map-dropdown-content">
          <a (click)="selectMap('Water Sca  rcity area')"><i *ngIf="mapdropdown == 'Water Scarcity area'"
              class="fa fa-check"></i> Water Scarcity Area</a>
          <a><i *ngIf="mapdropdown == 'Earthquake prone area'" class="fa fa-check"></i>Earthquake Prone Area</a>
          <a (click)="selectMap('Terror prone area')"><i *ngIf="mapdropdown == 'Terror prone area'"
              class="fa fa-check"></i>Terror Prone Area</a>
          <a (click)="selectMap('Basic Map')"><i *ngIf="mapdropdown == 'Basic Map'" class="fa fa-check"></i> Basic
            Map</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 pl-0 pr-0">
      <div>
        <ul class="nav nav-tab justify-content-center">
          <li class="nav-item">
            <a class="nav-link" rel="tab1" (click)="maintabClicked('Countries')">
              <span [ngClass]="activeTab =='Countries'? 'active' : 'inactive'">Countries</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tab1" (click)="maintabClicked('Cities')">
              <span [ngClass]="activeTab =='Cities'? 'active' : 'inactive'">Cities</span></a>
          </li>
        </ul>
      </div>
      <div class="table-div" *ngIf="activeTab =='Countries'">
        <div class="grid-table border-top">
          <p class="country">India</p>
          <p><span class="number">43</span><span class="percent">43%</span></p>
        </div>
        <div class="grid-table">
          <p class="country">China</p>
          <p><span class="number">21</span><span class="percent">21%</span></p>
        </div>
        <div class="grid-table">
          <p class="country">USA</p>
          <p><span class="number">18</span><span class="percent">18%</span></p>
        </div>
        <div class="grid-table">
          <p class="country">UAE</p>
          <p><span class="number">12</span><span class="percent">12%</span></p>
        </div>
        <div class="grid-table">
          <p class="country">Germany</p>
          <p><span class="number">4</span><span class="percent">4%</span></p>
        </div>
        <div class="grid-table">
          <p class="country">France</p>
          <p><span class="number">2</span><span class="percent">2%</span></p>
        </div>
      </div>
      <div class="table-div" *ngIf="activeTab =='Cities'">
        <div class="grid-table border-top">
          <p class="country">Bangalore</p>
          <p><span class="number">43</span><span class="percent">43%</span></p>
        </div>
        <div class="grid-table">
          <p class="country">Shangai</p>
          <p><span class="number">21</span><span class="percent">21%</span></p>
        </div>
        <div class="grid-table">
          <p class="country">Los Angeles</p>
          <p><span class="number">18</span><span class="percent">18%</span></p>
        </div>
        <div class="grid-table">
          <p class="country">Dubai</p>
          <p><span class="number">12</span><span class="percent">12%</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>