<div id="modalHeader" [class]="changeHeaderColor()">
    <h4 class="modal-title modalTitle" style="text-align:center; color: white">Supplier FAQs</h4>
    <i-x-circle class="big modalClose" style="color:white;cursor:pointer" (click)="activeModal.dismiss('Close clicked')"></i-x-circle>
</div>
<div style="max-height:80vh;overflow:auto;" [class]="changeScrollColor()">
    <h4><b>What is Beroe Live?</b></h4>
        <p>
            Beroe LiVE is a procurement intelligence and supplier authorization platform designed to help buyers identify and monitor suppliers on an ongoing basis. With users from 9,000+ global organizations, Beroe LiVE is the largest community of procurement professionals in the world. Beroe LiVE hosts financial risk ratings on 140 mn suppliers and also facilitates user ratings on suppliers they work with
        </p>

        <h4><b>How does supplier compliance work on Beroe Live?</b></h4>
        <p>
            Through Beroe LiVE’s supplier compliance module, suppliers can obtain assessments on the following parameters on client’s request:
            <ul>
                <li>Financial Risk Ratings and custom assessment (D&B and Rapid Ratings)</li>
                <li>Sustainability (EcoVadis, CSRHub)</li>
                <li>Ethics</li>
                <li>Labour Standards (Achilles)</li>
                <li>CSR/ Diversity (Achilles)</li>
                <li>Beroe has partnered with third party providers for these assessments and data packages. Suppliers will have one place to receive requests from customers and pay for that process of assessment to begin with each of the partners.</li>
            </ul>
            As part of this initial stage of the platform, only data/scores that already exist with one of the Beroe partners will be part of the request. The next stage of the platform in early Q1 2019 will include requests for new assessments. Additional compliance partners will be added in future releases.
        </p>

        <h4><b>Why should I declare compliance on Beroe LiVE?</b></h4>
        <p>
            Beroe LiVE is a unified platform where you can showcase your compliance and qualificatoins to procurement professionals from more than 9,000 companies. Moreover, you can get the required compliance assessments done through a single channel rather than approaching different certification providers and intimating buyers separately. Once your assessment is done, you have the ability to showcase the certifications to all the users on the platform including the buyer who requested the information. 
        </p>
        <p>
            In this initial stage of the release, data will only be shared with the requesting customer. In the second stage in early Q1 2019, there will be the option to share with multiple customers when you receive more than one request.
        </p>
        
        <h4><b>What's in it for me to be part of this first stage of the compliance platform?</b></h4>
        <p>
            To be a unified platform, Beroe is working with key customers and suppliers to get your valuable feedback on additional ways this platform brings suppliers value. With the valuable insight shared with the Beroe product team, suppliers and customers will have an opportunity to share in and shape the evolution of the Beroe LiVE platform.
        </p>

        <h4><b>Whats in it for me in future stages of the platform?</b></h4>
        <p>
            <ul>
                <li>
                    End of RFI’s – One “supplier passport” that is comprehensive enough to address the questions /
                    compliance needs of all
                    potential / current customers
                </li>
                <li>
                    Be found by prospective buyers from a pool of 9,000+ companies
                </li>
                <li>
                    Generate business leads by showcasing thought leadership to the prospective buyers
                </li>
            </ul>
        </p>
        
        <h4><b>How do I use the Beroe LiVE platform in the stage?</b></h4>
        <p>
            <ul>
                <li>
                    Join Beroe LiVE when you receive an alert that you have received a request for compliance data to be obtained. You will be given a unique link to your organization to register and manage requests.
                </li>
                <li>
                    Through the Beroe platform, pay for the requested data. If you do not have data with any of the current data partners, you will not be charged. At the next stage of the platform in early Q1 2019, you would receive requests to obtain the required assessments.
                </li>
                <li>
                    The data gets automatically published in your profile on Beroe LiVE for the customer to see
                </li>
                <li>
                    Update your profile on Beroe LiVE and enrich your profile page with business related information. In future stages of the platform, there will be more opportunities to increase your profile information to reach new customers.
                </li>
            </ul>
        </p>
        
        <h4><b>What is required of me during this initial stage?</b></h4>
        <p>
            Beroe is committed to engaging suppliers, buyers and compliance experts to give feedback on the relevance and value of the features of the platform. Beroe requests end users to participate for a 1 hour feedback webex on a bi-weekly basis or to schedule a one on one time at the user’s convenience. The support desk can log any requests for individual discussions but users will also receive requests to join feedback discussions that will help shape the future the platform.
        </p>
        
        <h4><b>What if I want assessments outside what is available on Beroe LiVE, how do I go about it?</b></h4>
        <p>
            Beroe is adding new partnerships regularly. If there is an assessment that is highly relevant, please log a ticket with the support desk for consideration in future stages of the platform. In the next phase, there will be an opportunity to upload additional certifications and audits you may have already performed and that are current.
        </p>
        
        <h4><b>How much will it cost us?</b></h4>
        <p>
            There are various costs associated to each data partner. There will be an option to decline a request from the buyers and give a reason for that choice. Each request you receive will have your final cost associated to it for purchase. For this first stage of the platform, financial data package will cost $249 USD. Additional data packages will be added as we progress.
        </p>
        
        <h4><b>Once the assessment is done, how long does it stay valid? How often do I need to update the requested authorizations?</b></h4>
        <p>
            Each partner has data relevancy periods. For the financial data, data loses relevance if older than a year.
        </p>
        
        <h4><b>If I get multiple requests for the same data package or assessment, what should I do?</b></h4>
        <p>
            For the initial release, there will be a limited number of overlapping requests but each request would be paid for separately. The next stage of the platform will include an option to share to 3 or more customers and subsequent stages will include premium subscriptions to allow the supplier information to be available to all Beroe LiVE buyers registered on the platform.
        </p>
</div>
