<!-- <div *ngIf="data!=undefined" class="form-group input-wrap">
    <label *ngIf="label!=undefined" class="suppliername-label" for="isEmpty">{{label}}</label>
    <div  ngbDropdown>
            <input  readonly [(ngModel)]="selected" style="cursor:pointer;background-color:#fff"   ngbDropdownToggle   type="country" class="form-control login-input"  id="country" placeholder="Select"   name="select">
            <div   style="max-height:500%;width:100%"   class="select-all-wrap" ngbDropdownMenu >
                    <p (mouseover)="onHover(d)" [ngClass]="{'selected':hover==d}" *ngFor="let d of data" (click)="select(d)" style="cursor:pointer;text-transform: uppercase;font-family: 'Inter UI';
                    color: #181818;font-size: 12px;font-weight: 800;letter-spacing: 1px;margin:0px;padding:8px 10px;" >{{d}}</p>
                   
            </div>
    </div>
    
</div> -->