<div class="container">
  <div class="row  Custom row-padd">
    <div>
      <ul class="nav nav-tab justify-content-center">
        <li class="nav-item">
          <a class="nav-link" rel="tab1" (click)="maintabClicked('dashboard')">
            <span [ngClass]="activeTab =='dashboard'? 'active-main' : 'inactive'">Dashboard</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tab1" (click)="maintabClicked('Suppliers list')">
            <span [ngClass]="activeTab=='Suppliers list' ? 'active-main' : 'inactive'">Suppliers list</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container" *ngIf="activeTab =='dashboard'">
  <div class="row divtitle">
    <div class="col-md-3 headleft">
      <span>Dashboard</span>
    </div>
    <div class="col-md-6 col-12">
      <ul style="height:45px" class="nav nav-tab justify-content-center">
        <li class="nav-item">
          <a class="nav-link" rel="tab1" (click)="tabClicked('Suppliers data')">
            <span [ngClass]="activeSubTab=='Suppliers data' ? 'active' : 'inactive'">Supplier's data</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tab1" (click)="tabClicked('Business data')">
            <span [ngClass]="activeSubTab=='Business data' ? 'active' : 'inactive'">Business data</span></a>
        </li>
      </ul>
    </div>
    <div class="col-md-3 text-right">
        <span #dashboardfilter>
          <i-filter class="filter" style="cursor: pointer;" (click)="filterSubMenu = !filterSubMenu"></i-filter>
            <div *ngIf="filterSubMenu" class="map-dropdown-contents">
              <p class="filterby">FILTER BY</p>
              <div class="filter-div">
                <p class="filtertext" (click)="open(content3)">Groups</p>
                <!-- <p class="filtertext">Groups</p> -->
                <p class="filtertext" (click)="open(content4)">Flags</p>
                <p class="filtertext" (click)="open(content5)">Response</p>
                <p  (click)="open(content)" class="filtertext">Advanced</p>
                <!-- <p class="filtertext">Advanced</p> -->
              </div>
              <hr>
              <div class="saved-filters" (click)="open(content2)">
              <!-- <div class="saved-filters"> -->
                <p class="filtertext">Saved Filters</p>
              </div>
            </div>
        </span>
      </div>
  </div>
  <div class="row" style="height: 40px"> </div>
</div>
<div class="container" *ngIf="activeTab =='Suppliers list'">
  <jhi-supplierlist></jhi-supplierlist>
</div>
<div *ngIf="activeTab =='dashboard'">
  <div *ngIf="activeSubTab=='Suppliers data'">
    <jhi-supplierdata></jhi-supplierdata>
  </div>
  <div *ngIf="activeSubTab=='Business data'">
    <jhi-businessdata></jhi-businessdata>
  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Filter</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <ul class="selected">
        <li *ngFor="let filter of totalSelectFilterList; let index = index">
          {{filter}} &nbsp; <span (click)="removeSelectedFilter(index)">x</span>
        </li>
      </ul>
    </div>
    <div class="modal-outline">
      <span>Add Filters</span>
      <div>
        <select class="browser-default custom-select" [(ngModel)]="item1">
          <option *ngFor="let item of filter1">
            {{item.value}}
          </option>
        </select>
        <select class="browser-default custom-select" [(ngModel)]="item2">
          <option *ngFor="let item of filter2">
            {{item.value}}
          </option>
        </select>
      </div>
      <hr>
      <div>
        <select class="browser-default custom-select" [(ngModel)]="item3">
          <option *ngFor="let item of filter3">
            {{item.value}}
          </option>
        </select>
        <select class="browser-default custom-select" style="width: 18% !important" [(ngModel)]="item4">
          <option *ngFor="let item of filter4">
            {{item.value}}
          </option>
        </select>
        <!-- <button type="button" class="btn float-R">Add</button> -->
        <div>
            <button type="button" class="btn float-R" (click)="addFilterList()">Add</button>
          </div>
      </div>
    </div>
  </div>

  <div>
    <!-- <span>
        <button type="button" class="btn float-L">Save Filter</button>
    </span> -->
    <div class="def">
        <span>
            <button type="button" class="btn float-L" (click)="open(content1)">Save Filter</button>
        </span>
        <span>
            <button type="button" class="btn float-R" (click)="modal.close('Save click')">Apply Filter</button>
        </span>
        <span>
            <button type="button" class="btn cancelbtn float-R" (click)="modal.close('Save click')">CANCEL</button>
        </span>
    </div>
    
  </div>
</ng-template>
  
<ng-template #content1 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Filter</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <span>Name of the filter</span>
    <div>
      <div>
          <input type="text" class="filterInput" [(ngModel)]="sletectedFilter" placeholder="filter">
      </div>
    </div>
  </div>

  <div>
    <div class="def">
        <span>
            <button type="button" class="btn float-R" (click)="modal.close('Save click')">Save Filter</button>
        </span>
        <span>
            <button type="button" class="btn cancelbtn float-R" (click)="modal.close('Save click')">CANCEL</button>
        </span>
    </div>
  </div>
</ng-template>

<ng-template #content2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Saved Filter</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <span>Name of the filter</span>
    <div>
      <ul class="savedFilterList">
        <li> D&B paydex higher than 5 <span>APPLY</span></li>
        <li> sanction apperence more than 2 <span>APPLY</span></li>
        <li> Ethics rating heigher than 20 <span>APPLY</span></li>
        <li> D&B rating between 6 and 8 <span>APPLY</span></li>
      </ul>
    </div>
  </div>

  <div>
    <div class="def" style="padding-top: 0;">
        <span>
            <button type="button" class="btn float-R" (click)="modal.close('Save click')">CANCEL</button>
        </span>
    </div>
  </div>
  </ng-template>
  
  <ng-template #content3 let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Filter by group</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        <ul class="filterGroup">
          <li>
            <input type="checkbox" id="c1" name="cb">
            <label for="c1">Group A</label>
          </li>
          <li>
            <input type="checkbox" id="c2" name="cb">
            <label for="c2">Group B</label>
          </li>
          <li>
            <input type="checkbox" id="c3" name="cb">
            <label for="c3">Group C</label>
          </li>
          <li>
            <input type="checkbox" id="c4" name="cb">
            <label for="c4">Group D</label>
          </li>
          <li>
            <input type="checkbox" id="c5" name="cb">
            <label for="c5">Group E</label>
          </li>
        </ul>
      </div>
    </div>
  
    <div>
      <div class="def" style="padding-top: 0;">
        <span>
          <button type="button" class="btn float-R" (click)="modal.close('Save click')">Apply Filter</button>
        </span>
        <span>
            <button type="button" class="btn cancelbtn float-R" (click)="modal.close('Save click')">CANCEL</button>
        </span>
      </div>
    </div>
  </ng-template>

  <ng-template #content4 let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Filter by flags</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        <ul class="filterGroup">
          <li>
            <input type="checkbox" id="f1" name="cb">
            <label for="f1">Red Flag</label>
          </li>
          <li>
            <input type="checkbox" id="f2" name="cb">
            <label for="f2">Yellow Flag</label>
          </li>
          <li>
            <input type="checkbox" id="f3" name="cb">
            <label for="f3">Blue Flag</label>
          </li>
        </ul>
      </div>
    </div>
  
    <div>
      <div class="def" style="padding-top: 0;">
        <span>
          <button type="button" class="btn float-R" (click)="modal.close('Save click')">Apply Filter</button>
        </span>
        <span>
            <button type="button" class="btn cancelbtn float-R" (click)="modal.close('Save click')">CANCEL</button>
        </span>
      </div>
    </div>
  </ng-template>


  <ng-template #content5 let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Filter by response</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        <ul class="filterGroup">
          <li>
            <input type="checkbox" id="r1" name="cb">
            <label for="r1">Shared</label>
          </li>
          <li>
            <input type="checkbox" id="r2" name="cb">
            <label for="r2">Pending</label>
          </li>
          <li>
            <input type="checkbox" id="r3" name="cb">
            <label for="r3">Declined</label>
          </li>
          <li>
          </li>
        </ul>
      </div>
    </div>
  
    <div>
      <div class="def" style="padding-top: 0;">
        <span>
          <button type="button" class="btn float-R" (click)="modal.close('Save click')">Apply Filter</button>
        </span>
        <span>
            <button type="button" class="btn cancelbtn float-R" (click)="modal.close('Save click')">CANCEL</button>
        </span>
      </div>
    </div>
  </ng-template>