<div class="container">
  <div class="row m-0 Custom row-padd">
    <div>
      <ul class="nav nav-tab justify-content-center">
        <li class="nav-item">
          <a class="nav-link" rel="tab1" (click)="maintabClicked('dashboard')">
            <span [ngClass]="activeTab =='dashboard'? 'active-main' : 'inactive'">Dashboard</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tab1" (click)="maintabClicked('Suppliers list')">
            <span [ngClass]="activeTab=='Suppliers list' ? 'active-main' : 'inactive'">Suppliers list</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container" *ngIf="activeTab =='dashboard'">
  <div class="row divtitle">
    <div class="col-md-3 headleft">
      <span>Dashboard</span>
    </div>
    <div class="col-md-6 col-12">
      <ul style="height:45px" class="nav nav-tab justify-content-center">
        <li class="nav-item">
          <a class="nav-link" rel="tab1" (click)="tabClicked('Suppliers data')">
            <span [ngClass]="activeSubTab=='Suppliers data' ? 'active' : 'inactive'">Supplier's data</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tab1" (click)="tabClicked('Business data')">
            <span [ngClass]="activeSubTab=='Business data' ? 'active' : 'inactive'">Business data</span></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row" style="height: 40px"> </div>
</div>
<div *ngIf="activeTab =='dashboard'">
  <div *ngIf="activeSubTab=='Suppliers data'">
    <jhi-supplierdata></jhi-supplierdata>
  </div>
  <div *ngIf="activeSubTab=='Business data'">
    <jhi-businessdata></jhi-businessdata>
  </div>
</div>