<div id="modalHeader" [class]="changeHeaderColor()">
    <h4 class="modal-title modalTitle" style="text-align:center; color: white">Procurement FAQs</h4>
    <i-x-circle class="big modalClose" style="color:white;cursor:pointer" (click)="activeModal.dismiss('Close clicked')"></i-x-circle>
</div>
<div style="max-height:80vh;overflow: auto;" [class]="changeScrollColor()">
    <h4><b>What is Beroe Live?</b></h4>
        <p>
            Beroe LiVE is an on-demand procurement intelligence and supplier discovery and monitoring platform from
            Beroe
            <ul>
                <li>
                    Suppliers authorization and certification platform
                </li>
                <li>
                    Intelligence on 262+ categories
                </li>
                <li>
                    D&B Risk ratings on 140 mn suppliers
                </li>
                <li>
                    An engaged community of 9,000+ companies
                </li>
                <li>
                    800+ Thought Leadership artefacts
                </li>
                <li>
                    Request customized intelligence
                </li>
            </ul>
        </p>
        <h4><b>How does Beroe LiVE support supplier compliance program?</b></h4>
        <p>
            Beroe LiVE platform is developing the capability of enabling supplier monitoring and discovery, one of key
            areas of
            concerns for procurement professionals. In this initial stage of the platform, Beroe is focusing on
            surfacing data
            already exists with our data partners. In the next stage in early Q1 2019, customers will be able to
            request additional
            assessments from suppliers based on risk analysis completed within the platform.
            <ul>
                <li>
                    In the initial stage, data requests will be available on Financial Risk. Additional data partners
                    will be available at
                    subsequent stages of the platform.
                </li>
                <li>
                    Beroe has or is developing partnerships with key vendors who will provide assessment on the listed
                    compliance
                    parameters. These partners include D&B, Rapid Ratings, EcoVadis, Achilles, CSRHub.
                </li>
                <li>
                    You will be able to review data from the available partners in a central location in the Beroe
                    platform. The next stage
                    of the platform includes active monitoring and additional assessment request options.
                </li>
                <li>
                    Additional stages will also include the ability to evaluate risk on a list of suppliers and to
                    discover new suppliers
                    based on defined criteria.
                </li>
            </ul>
        </p>
        <h4><b>Why should I use Beroe LiVE platform for supplier compliance?</b></h4>
        <p>
            Benefits of supplier compliance program through Beroe LiVE
            <ul>
                <li>
                    Beroe will manage the whole process on your behalf at no cost.
                </li>
                <li>
                    On-platform supplier assessment/certifications/ratings and recommendations for Free
                </li>
                <li>
                    Supplier discovery that will help shorten the RFP cycle in future stages
                </li>
            </ul>
        </p>
        <h4><b>What is the process of supplier compliance on Beroe LiVE in this stage of the platform?</b></h4>
        <p>
            <ul>
                <li>
                    Upload the list of suppliers
                </li>
                <li>
                    Request for data from partners
                </li>
                <li>
                    View ratings against your suppliers
                </li>
                <li>
                    Request custom assessments based on risk assessment and recommended actions (Not in initial initial)
                </li>
                <li>
                    Monitor suppliers throguh centralized dashboard
                </li>
        </ul>
        </p>
        <h4><b>Do I need to join Beroe LiVE platform to monitor suppliers?</b></h4>
        <p>
            Yes. You will receive an invitation from the Beroe platform with log in information and steps to complete your registration.
        </p>
        <h4><b>How much will the program cost me?</b></h4>
        <p>
            Beroe will manage the whole process on your behalf at no cost
        </p>
        <h4><b>How secure is my data on the platform?</b></h4>
        <p>
            Beroe is committed to maintaining security on proprietary information. Other procurement teams will not be able to view or access the suppliers you have uploaded, search for or send requests to. Each company has a unique identifier that ensures no unauthorized users access the company data.
        </p>
        <h4><b>What is the communication plan to suppliers in the initial stage?</b></h4>
        <p>
            The initial email to suppliers will come from the procurement companies to the suppliers selected to participate in this initial stage. Beroe will provide the email template. Suppliers will then receive an automated email from the platform with their unique company profile link and instructions to log in.
        </p>
        <p>
            If there is no response to the invitation to join, Beroe will follow up with suppliers to encourage them to register and complete the request.
        </p>
        <p>
            If there is no response from suppliers to requests and follow ups, the point of contact within the procurement organization will be given the information for subsequent follow up requirements.
        </p>
        <h4><b>What will I see on the company dashboard?</b></h4>
        <p>
            The primary central dashboard includes information on pending requests sent to suppliers but have not yet been purchased in the ‘Pending’ tab. There will also be a ‘Shared’ tab that displays a list of suppliers that have completed their data request with the ability to drill down to their supplier profile. Additionally there is a ‘Declined’ tab with the list of suppliers who registered but declined to purchase the data option. 
        </p>
        <p>
            The supplier profile will be basic company info and contact in the initial stage. Each stage will increase the supplier profile options to allow for a central location to review details on the supplier. This can include specialities, additional certifications or audits the supplier has completed, relevant policies, etc. 
        </p>
        <p>
            In future stages you will see watchlists for monitoring, a recommendation engine that will assess risk on a supplier list and recommended assessments for risk mitigation.
        </p>
        <h4><b>How can I check the unlocked ratings of my suppliers? Will I receive an E-mail notification once the ratings are unlocked?</b></h4>
        <p>
            You will not receive an email when a supplier unlocks data requested. We encourage you to log in to see progress of your supplier list. Additional controls of email notifications will be in future stages.
        </p>
        <h4><b>I have clarifications on the process. Whom should I reach out to?</b></h4>
        <p>
            Please contact Tina Baker, Director of Product Management at <a href="mailto:tina.baker@beroe-inc.com">tina.baker@beroe-inc.com</a> or log a request with the helpdesk for information to be provided.
        </p>
        <h4><b>I need to remove some suppliers from my original list and replace them with new ones. Is it possible?</b></h4>
        <p>
            Currently suppliers cannot be removed but additional suppliers can be added at any point through the system or by contacting support for assistance.
        </p>
        <h4><b>How do I reach the support desk?</b></h4>
        <p>
            You can reach over email on <a href="mailto:Partner.Support@beroe-inc.com">Partner.Support@beroe-inc.com.</a>
        </p>
</div>
