<div style="padding:10px 25px;" [class]="changeHeaderColor()">
    <h4 class="modal-title modalTitle" style=" color: white;
    margin-top: 5px;
    font-size: 125%;
    opacity: 1;">Terms of Service</h4>
    <i-x-circle class="big modalClose" style="color:white;cursor:pointer" (click)="activeModal.dismiss('Close clicked')"></i-x-circle>
</div>
<div style="max-height:calc(100vh - 95px);overflow: auto;padding:20px 25px" [class]="changeScrollColor()">
    <h5>EFFECTIVE DATE: November 15, 2018</h5>
    <h5>
        BEROE SINGAPORE PTE LIMITED (“BEROE” “OUR”, “WE,” OR “US”)) OFFERS ITS PRODUCTS AND SERVICES FROM THE
        PORTAL LOCATED AT <a href="https://live.beroeinc.com/#/" target="_blank">https://live.beroeinc.com/#/</a>
        AND ALL MOBILE VERSIONS OF THE SAME (THE “PORTAL”) SUBJECT TO THE FOLLOWING
        TERMS OF SERVICE
        CONDITIONS. THE PORTAL AND RELATED PLATFORMS, PRODUCTS, AND SERVICES AVAILABLE ON OR FROM THE PORTAL (THE
        “SERVICES”) ARE OWNED
        AND OPERATED BY BEROE. FOR CLARITY, BY SERVICES, WE MEAN THE FEATURES AND SERVICES WE MAKE AVAILABLE FROM
        THE PORTAL AND ALL
        OTHER BEROE BRANDED VERSIONS OF THE SAME, WHETHER SUCH SERVICES ARE ACCESSED BY A MOBILE DEVICE OR OTHER
        PLATFORM.
    </h5>
    <h5>
        BY ACCESSING AND USING THE PORTAL AND/OR THE SERVICES, YOU ACKNOWLEDGE AND AGREE TO BE BOUND BY THESE TERMS
        AND CONDITIONS (THE
        “TERMS AND CONDITIONS”). THESE TERMS AND CONDITIONS ARE A LEGALLY BINDING AGREEMENT. IF YOU USE THE PORTAL
        AND/OR THE SERVICES
        ACTING AS THE AGENT FOR A COMPANY OR OTHER ENTITY, YOU REPRESENT THAT YOU HAVE THE LEGAL AUTHORITY TO BIND
        SUCH COMPANY OR
        ENTITY AND YOU GUARANTEE COMPLIANCE BY SUCH COMPANY OR ENTITY WITH THESE TERMS AND CONDITIONS. THESE TERMS
        AND CONDITIONS AND
        ANY APPLICABLE ORDER FORM YOU MAY HAVE ENTERED INTO WITH BEROE ARE A LEGALLY BINDING AGREEMENT AND ARE
        REFERRED TO AS THE
        “AGREEMENT.”
    </h5>
    <h5>
        BEROE RESERVES THE RIGHT AT ANY TIME TO CHANGE, ADD, OR DELETE PORTIONS OF THESE TERMS OF SERVICE WITHOUT
        NOTICE. BEROE WILL
        POST CHANGES TO THESE TERMS OF SERVICE, IF ANY, TO THE PORTAL BY REPLACING THESE TERMS OF SERVICE WITH
        UPDATED TERMS OF SERVICE
        THAT INCLUDE A NEW EFFECTIVE DATE SET FORTH ABOVE. IT IS YOUR RESPONSIBILITY TO CHECK THE PORTAL
        PERIODICALLY FOR CHANGES. YOUR
        CONTINUED USE OF THE PORTAL AFTER ANY CHANGES CONSTITUTES YOUR ACCEPTANCE OF THE REVISED TERMS OF SERVICE.
    </h5>
    <p>
        These terms and conditions (“Terms of Service”) apply to your use of this Portal. By accessing or otherwise
        using the site, You
        agree to be bound by these Terms of Use. Any membership accounts You may create by registration on this
        Website and/or purchase
        or avail any product or service available through this Website are governed by these Terms of Use including
        3rd party service
        providers T&C listed in Appendix (1.0).
    </p>
    <ol>
        <li>
            <b>Definitions</b>
            <ol type="a">
                <li>
                    "<b>Intellectual Proptery Rights</b>" shall mean “Intellectual Property Rights” shall mean all
                    copyrights,
                    trademarks, service marks, trade secrets, patents, moral rights, contract rights, and other
                    proprietary rights.
                </li>
                <li>
                    "<b>Reports</b>" shall mean Beroe’s proprietary reports that are available for downloading
                    fromthe Beroe Portal.
                </li>
            </ol>
        </li>
        <li>
            <b>Account Sign Up</b>
            <ol type="a">
                <li>
                    You represent that all information you provide during the account sign up process and at any
                    time thereafter
                    (“Account Information”) will be true, accurate, complete, and current and that you will
                    promptly update your Account
                    Information as necessary such that it is, at all times, true, accurate, complete, and current.
                    We may use all
                    Account Information, subject to compliance with the Beroe Privacy Policy. The Terms of Service
                    incorporate the terms
                    and conditions set forth in the Beroe Privacy Policy, and by accessing the Portal and using the
                    Services, you are
                    consenting to have your personal data used by us as set forth in the Beroe Privacy Policy. You
                    alone are responsible
                    for maintaining the security of your Account Information and for all uses of the Portal and
                    Services in the name of
                    your account (the “Account”). You represent that you are at least 18 years of age.
                </li>
                <li>
                    <b>Your Password and User ID</b>. When you register for and create an Account, you will be
                    assigned a unique User ID
                    and password. Each User ID and Password may be used solely by you and is nontransferable. At
                    the request of Beroe,
                    When a User ID is used on a device (e.g., laptop computer, desktop computer, mobile device,
                    etc.), it will be
                    registered to that device. A User ID may not be used on more than three devices. If you attempt
                    to access the Portal
                    from more than three devices with your User ID, you will be denied access to the Portal and
                    must contact Beroe
                    customer service to have your User ID re-activated.
                </li>
            </ol>
        </li>
        <li>
            <b>Portal Content.</b> All content accessible from the Portal, which is not User Content (as defined in
            Section 8 below)
            (the “Beroe Content”), is the proprietary property of us or our licensors. Subject to these Terms of
            Service, no Beroe
            Content or User Content may be modified, copied, distributed, framed, reproduced, republished,
            downloaded, displayed,
            posted, transmitted, or sold in any form or by any means, in whole or in part, without the prior
            written permission of us or
            the owner of such content. Except as otherwise set forth in these Terms of Service, any unauthorized
            use of the Beroe
            Content or User Content is strictly prohibited. All trademarks, logos, trade dress and service marks
            included within the
            Beroe Content or the User Content are trademarks or registered trademarks of us or our licensors and
            may not be copied,
            imitated, or used, in whole or in part, without the prior written permission of us or the owner of such
            content.
        </li>
        <li>
            <b>Rights to the Portal and Reports</b>
            <ol type="a">
                <li>
                    <b>Reports</b> By accessing the Portal, you are allowed to view (but not download, print, copy
                    or transfer in any
                    manner) Reports. In certain situations and subject to payment of applicable fees, you may be
                    granted the right to
                    download and/or print Reports. The Reports are the confidential and proprietary information of
                    Beroe and protected
                    by the U.S. Copyright Act and international treaties, and Beroe owns all Intellectual Property
                    Rights included
                    therein. You agree to use the Reports solely for your or your employer’s internal business
                    purposes. You may not
                    copy the Reports or distribute or transfer, lend, lease or rent the Reports in whole or in part
                    to any third party.
                </li>
                <li>
                    <b>Limitations.</b> You agree to not use the Portal or the Reports in any manner that violates
                    any state, local or
                    federal law, including, without limitation, any applicable antitrust law, rule or regulation.
                </li>
            </ol>
        </li>
        <li>
            <b>Disclaimer.</b> THE PORTAL AND THE REPORTS ARE PROVIDED “AS IS.” YOU ASSUME FULL RESPONSIBILITY FOR
            YOUR USE OF THE
            REPORTS, ALL DATA INCLUDED THEREIN AND ALL DECISIONS MADE, WHICH RELY ON THE REPORTS. BEROE DISCLAIMS
            ALL WARRANTIES,
            WHETHER EXPRESS OR IMPLIED, WITH RESPECT TO THE PORTAL, THE REPORTS AND THE USE OF THE REPORTS AND THE
            DATA INCLUDED
            THEREIN, AND THERE ARE HEREBY EXCLUDED ALL WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
            PURPOSE. YOU
            ACKNOWLEDGE THAT YOU HAVE NOT RELIED ON ANY WARRANTIES OR STATEMENTS FROM BEFORE OTHER THAN AS MAY BE
            SET FORTH HEREIN.
        </li>
        <li>
            <b>Links to Other Web Sites.</b> The Portal may include links to other web sites. We are not
            responsible for the content,
            accuracy or opinions expressed on such web sites, and such web sites are not investigated, monitored or
            checked for accuracy
            or completeness by us. Inclusion within the Portal of any links to other web sites does not imply
            approval or endorsement of
            the linked web site by us. Furthermore, any third party advertisement or sponsorship has no effect on
            and does not influence
            any Reports or content published by us. If you decide to leave the Portal and access these third-party
            sites, you do so at
            your own risk.
        </li>
        <li>
            <b>Termination</b>
            <ol type="a">
                <li>
                    You may terminate your use of the Portal and Services at any time. Please keep in mind that
                    except as otherwise
                    provided in a separate agreement between you and Beroe, any fees paid by you will not be
                    refunded upon cancellation,
                    and cancellation will cause any unused or prepaid fees to be forfeited.
                </li>
                <li>
                    We may cancel your Account and discontinue your use of the Portal or Services at any time in
                    the event that you fail
                    to make any payment when due or you breach your representations, warranties, and covenants in
                    these Terms of
                    Service.
                </li>
                <li>
                    Any provisions of these Terms of Service that by their nature should continue after
                    cancellation of your use of the
                    Services or any Services will continue to apply even after the expiration or termination of
                    these Terms of Service
                    or your use of the Services or any Services, including Sections 1, 3, 4, 5, 7, 8, 9, 10, 11,
                    12, 13 and 14.
                </li>
            </ol>
        </li>
        <li>
            <b>User Content.</b> You are solely responsible for all materials, content, and data that you publish
            on the Portal (“User
            Content”). You represent, warrant and agree that all User Content that you publish will not:
            <ol type="A">
                <li>
                    violate any privacy or data protection law or regulation, including GDPR (as defined below) and
                    your submission, use
                    and publication is consistent with our Privacy Policy
                </li>
                <li>
                    violate or infringe upon the rights of any third party, including copyright, trademark,
                    privacy, publicity or other
                    personal or proprietary rights
                </li>
                <li>contain libelous or defamatory material</li>
                <li>
                    include profanity, hate speech or other language that is inconsistent with generally accepted
                    standards of decency
                </li>
                <li>violate or encourage violation of any applicable laws, rules or regulations</li>
            </ol>
            <p>
                You represent and warrant that you own all User Content that you publish on the Portal and that by
                publishing such
                content on the Portal, you hereby assign to Beroe all rights, title and interest in and to such
                User Content. You hereby
                acknowledge and agree that Beroe shall, at all times, possess the right to refuse to include and/or
                to cause the removal
                of any or all User Content for any reason and at Beroe’s sole discretion. You agree to indemnify,
                defend and hold
                harmless Beroe against any claims, damages, liability, costs and expenses incurred by Beroe and
                related to or arising
                from the infringement of any rights of any third party by User Content or the violation of any law,
                rule or regulation
                by the User Content. We may terminate your use of the Portal and or your Account should you publish
                User Content that
                breaches any your representations and warranties set forth above.
            </p>
        </li>
        <li>
            <b>DMCA Copyright Notice.</b> We own, protect and enforce copyrights in our own Reports and other
            creative material and
            respect the copyright properties of others. Materials may be made available via the Portal, or through
            the Services, by
            third parties not within our control. It is our policy not to permit materials known by us to be
            infringing to remain on the
            Portal. You should notify us promptly if you believe any materials on the Portal, whether published by
            us or third parties,
            infringe a third party copyright. Upon our receipt of a proper notice of claimed infringement under the
            Digital Millennium
            Copyright Act (“DMCA”), we will respond expeditiously to remove, or disable access to, the material
            claimed to be infringing
            and will follow the procedures specified in the DMCA to resolve the claim between the notifying party
            and the alleged
            infringer who provided the content in issue. Pursuant to the DMCA, written notification of claimed
            copyright infringement
            must be submitted in writing to the Designated Agent for this Services. Contact information for the
            Designated Agent may be
            found at the U.S. Copyright Office’s Directory of Service Provider Agents for Notification of Claims of
            Infringement, and is
            provided below: <br />
            DMCA Agent <br />
            <br />
            <br />
            Email: <a href="mailto:customersupport@beroeinc.com">customersupport@beroeinc.com</a> Please be advised
            that we may
            provide an alleged infringer with any
            notice of claimed
            infringement, including notices of claimed infringement submitted by you under the DMCA, and any
            communications related
            thereto. We may also provide any counter notifications received under the DMCA, and communication
            related thereto, to the
            provider of the original notice of claimed infringement. All notices and communications provided by you
            to us become our
            property and you hereby grant us the right to provide such notices and communications to any third
            party. <br />
            If you engage in “repeat infringement” we may immediately terminate your Account without notice, and
            you will no longer be
            permitted access to the Portal or the Services. “Repeat infringement” shall be defined as two (2) or
            more instances, as
            determined by us in our reasonable discretion, where you have infringed the copyright rights of another
            person. <br />
            In the event a user’s materials are removed due to a DMCA notice and then subsequently restored in
            accordance with the DMCA,
            we will treat the underlying DMCA notice as withdrawn. We reserve the right to terminate Accounts that
            are the subject of
            fewer than two (2) instances of infringement of the copyright rights of another person in appropriate
            circumstances, such as
            when the user has a history of violating or willfully disregarding the Terms of Service.
        </li>
        <li>
            <b>Disclaimer.</b> We are not responsible for any incorrect or inaccurate content published in the
            Reports or on the Portal,
            including User Content published by others. We are not responsible for the conduct, whether online or
            offline, of any user
            of the Portal. The Portal and the Services may be temporarily unavailable from time to time for
            maintenance or other
            reasons. We assume no responsibility for any error, omission, interruption, deletion, defect, delay in
            operation or
            transmission, communications line failure, theft or destruction or unauthorized access to, or
            alteration of, the Services or
            the Portal. We are not responsible for any problems or technical malfunction of any telephone network
            or lines, computer
            online systems, servers, computer equipment or software, or the failure of email on account of
            technical problems or traffic
            congestion on the Internet or at any web site, including injury or damage to any person’s computer
            related to or resulting
            from participating or downloading materials in connection with the Portal or the Services. Under no
            circumstances will we be
            responsible for any loss or damage, including personal injury or death, resulting from anyone’s use of
            the Portal, the
            Services or any content published on the Portal (whether or not Beroe Content, User Content, or other
            content). THE PORTAL,
            THE SERVICES AND ALL CONTENT ON THE PORTAL ARE PROVIDED “AS-IS” AND WE DISCLAIM ANY AND ALL WARRANTIES,
            WHETHER EXPRESS OR
            IMPLIED, INCLUDING WITHOUT LIMITATION IMPLIED WARRANTIES OF TITLE, MERCHANTABILITY, FITNESS FOR A
            PARTICULAR PURPOSE OR NON-
            INFRINGEMENT. WE CANNOT GUARANTEE AND DO NOT PROMISE ANY SPECIFIC RESULTS FROM USE OF THE PORTAL, THE
            REPORTS AND/OR THE
            SERVICES. <br />
            WE ARE NOT RESPONSIBLE FOR ENSURING THAT USER CONTENT PUBLISHED BY USERS (OR PUBLISHED BY US ON BEHALF
            OF USERS) OF THE
            PORTAL OR THE SERVICES COMPLIES WITH APPLICABLE LAWS, RULES OR REGULATIONS, AND WE OFFER NO WARRANTY
            THAT ANY SUCH USER
            CONTENT SHALL COMPLY WITH APPLICABLE LAWS, RULES OR REGULATIONS
        </li>
        <li>
            Indemnification
            <ol type="a">
                <li>
                    Beroe at its expense will defend any claim or judicial action brought against you, and
                    indemnify you and hold you
                    harmless against any liability for damages awarded in any such action, insofar as the same is
                    based on a claim that
                    a Report provided by Beroe, when used by you as authorized by this Agreement, infringes any
                    patent, copyright or
                    trade secret of a third party. Beroe’s indemnification obligation hereunder will not apply to
                    the extent that any
                    claim, damages, or expenses incurred by you are attributable to unauthorized editing or use of
                    a Report.
                </li>
                <li>
                    You agree to defend any claim or judicial action brought against Beroe, and indemnify and hold
                    harmless Beroe
                    against any liability for damages awarded in such action, insofar as the same is based on any
                    claim relating to your
                    use of the Portal or the Reports, with the sole exception of those matters for which Beroe
                    bears responsibility
                    under Section 11(a).
                </li>
                <li>
                    The obligations under the foregoing indemnities are subject to the condition that the party
                    seeking indemnification
                    give the other: (1) prompt written notice of any claim or action for which indemnity is sought;
                    (2) complete control
                    of the defense and settlement thereof by the indemnifying party; and (3) cooperation of the
                    other party in such
                    defense.
                </li>
            </ol>
        </li>
        <li>
            <b>LIMITATION OF LIABILITY.</b> BEROE SHALL NOT BE LIABLE TO YOU FOR ANY INCIDENTAL, INDIRECT,
            EXEMPLARY, SPECIAL OR
            CONSEQUENTIAL DAMAGES, UNDER ANY CIRCUMSTANCES, INCLUDING, BUT NOT LIMITED TO, LOST PROFITS, REVENUE OR
            SAVINGS, LOSS OF
            GOODWILL, OR THE LOSS OF USE OF ANY DATA, EVEN IF BEROE HAS BEEN ADVISED OF, KNEW, OR SHOULD HAVE
            KNOWN, OF THE POSSIBILITY
            THEREOF. UNDER NO CIRCUMSTANCES SHALL BEROE’S AGGREGATE CUMULATIVE LIABILITY HEREUNDER, WHETHER IN
            CONTRACT, TORT, OR
            OTHERWISE, EXCEED THE GREATER OF (1) THE MOST RECENTLY RECEIVED ANNUAL FEE PAID BY YOU UNDER ANY
            AGREEMENT WITH BEROE AND
            (2) $10.00 USD. YOU ACKNOWLEDGE THAT THE LIMITATIONS SET FORTH HEREIN REFLECT THE ALLOCATION OF RISK
            SET FORTH IN THIS
            AGREEMENT AND AGREED TO BY THE PARTIES, AND THAT BEROE WOULD NOT ENTER INTO THIS AGREEMENT WITHOUT
            THESE LIMITATIONS ON ITS
            LIABILITY.
        </li>
        <li>
            <b>Force Majeure.</b> Any party shall be excused from performing hereunder to the extent that it is
            prevented from
            performing as a result of any act or event which occurs and is beyond its reasonable control,
            including, without limitation,
            acts of God, war, weather, utility, malware, unauthorized hacking or intrusion into computer systems,
            spyware, viruses, or
            telecommunications outages, unrest or riot, strikes, any action of a governmental entity; etc. provided
            that the party
            experiencing the force majeure provides the other with prompt written notice thereof and uses
            reasonable efforts to remedy
            effects of such matter.
        </li>
        <li>
            <b>Miscellaneous.</b> You may not assign this Agreement, including assignments by change of control,
            merger or acquisition,
            without the prior written consent of Beroe. This Agreement shall be governed under the laws of
            Singapore without regard to
            its conflicts of Laws provisions. Any dispute arising out of or in connection with this Agreement,
            including any question
            regarding its existence, validity or termination, shall be referred to and finally resolved by
            arbitration in Singapore in
            accordance with the Arbitration Rules of the Singapore International Arbitration Centre (“SIAC Rules”)
            for the time being in
            force, which rules are deemed to be incorporated by reference in this Section 13. The Tribunal shall
            consist of one (1)
            arbitrator to be appointed by the Chairman of the SIAC. The language of the arbitration shall be
            English and the definitive
            and official language of this Agreement shall be English. If any provision of this Agreement is
            prohibited by law or held to
            be unenforceable, the remaining provisions hereof shall not be affected, and this Agreement shall
            continue in full force and
            effect as if such unenforceable provision had never constituted a part hereof, and the unenforceable
            provision shall be
            automatically amended so as to best accomplish the objectives of such unenforceable provision within
            the limits of
            applicable law. This Agreement may be executed in counterparts, each of which shall be deemed an
            original but all of which
            together shall constitute the same instrument. Any waiver of a provision of this Agreement must be in
            writing and signed by
            the party to be charged. A valid waiver hereunder shall not be interpreted to be a waiver of that
            obligation in the future
            or any other obligation under this Agreement. This Agreement constitutes the entire agreement between
            the parties related to
            the subject matter hereof, supersedes any prior or contemporaneous agreement between the parties
            relating to the Portal and
            shall not be changed except by written agreement signed by each party.
        </li>
        <li>
            Processing of Personal Data.
            <ol type="a">
                <li>
                    With respect to your use of the Portal and our Services, we are the Data Controller of the
                    information You provide
                    to us when visiting the Portal and/or using our Services, such as your name, email address,
                    phone number, and
                    company name.
                </li>
                <li>
                    Certain User Content You provide when using the Portal may include information relating to an
                    identified or
                    identifiable natural person (“Personal Data”), and we may also make Personal Data available to
                    You when we provide
                    Reports. With respect to this Personal Data, both You and Beroe will be considered Data
                    Controllers. All capitalized
                    terms in this section not otherwise defined in these Terms and Conditions shall have the same
                    meaning as provided by
                    the General Data Protection Regulation (“GDPR”). With respect to the Processing of Personal
                    Information of
                    individuals, You agree:
                    <ol type="i">
                        <li>
                            Processing of Personal Data on or through our Portal shall be done solely in accordance
                            with these Terms and
                            Conditions, and You shall ensure that You can lawfully Process and transfer Personal
                            Data in accordance with
                            these Terms, including that Beroe’s use and disclosure of such Personal Data as
                            described herein and in our
                            Privacy Policy.
                        </li>
                        <li>
                            You shall ensure that all personnel that Process Personal Data have received
                            appropriate training, and are
                            under an appropriate obligation of confidentiality.
                        </li>
                        <li>
                            You shall comply with all obligations of a Data Controller under the GDPR and any other
                            applicable data
                            protection laws and regulations. In particular, You shall ensure that there is a valid,
                            lawful basis for all
                            Processing of Personal Data that You undertake, or direct to be taken on your behalf,
                            and that You have
                            obtained all necessary consents or authorizations necessary under GDPR or any other
                            data protection laws and
                            regulations for such Processing.
                        </li>
                        <li>
                            Upon notice from Beroe, you shall immediately stop and remediate any unauthorized or
                            unlawful processing.
                        </li>
                        <li>
                            You shall comply with any requests by Data Subjects to exercise their individual rights
                            under any data
                            protection laws and regulations, including GDPR, such as rights to access, correct,
                            amend, block, restrict,
                            or delete their Personal Data (“Individual Rights”). To the extent legally permitted,
                            You shall promptly
                            notify Beroe if you receive any request from a Data Subject for the exercise of
                            Individual Rights that may
                            impact Beroe’s Processing of Personal Data. You shall fully address that person’s
                            request unless it is not
                            possible to do so without assistance from Beroe. In any such case, You shall provide
                            commercially reasonable
                            cooperation and assistance to Beroe in relation to handling of a Data Subject’s
                            request.
                        </li>
                        <li>
                            You implement and maintain administrative, physical, and technical safeguards to ensure
                            protection of the
                            security, confidentiality, and integrity of Personal Data as provided by data
                            protection laws and
                            regulations, including GDPR, and regularly monitor such safeguards. Such safeguards
                            shall be designed to
                            protect Personal Data against accidental or unlawful destruction, loss, alteration, or
                            unauthorized
                            disclosure or access. You will not take any action that decreases the overall Security
                            of Beroe or its
                            Portal or Services.
                        </li>
                        <li>
                            Taking into account the nature of Processing and the information available to You, You
                            shall assist Beroe,
                            to the extent necessary or appropriate, with Beroe’s obligations pursuant to Art. 32 –
                            36 of GDPR, in
                            particular with respect to the security of the Processing, data protection impact
                            assessments, and
                            consultation with Supervisory Authorities.
                        </li>
                        <li>
                            You shall immediately notify Beroe if You are subject to any investigation by a
                            Supervisory Authority, and
                            if You become subject to any control procedures or measures imposed by a Supervisory
                            Authority pursuant to
                            the GDPR or other data protection laws and regulations. This shall also apply to the
                            extent that a competent
                            authority conducts investigations at Your place of work, office, or other location,
                            pursuant to the GDPR or
                            other data protection laws and regulations.
                        </li>
                        <li>
                            In the event that You transfer Personal Data to a third country or international
                            organization, You shall
                            ensure that such transfer occurs only in accordance with GDPR and data protection laws
                            and regulations, and
                            agree to disclose or publish information on the appropriate or suitable safeguards that
                            have been used to
                            make such transfers to the third country to the extent required under the GDPR or other
                            data protection laws
                            and regulations to inform the Data Subject.
                        </li>
                        <li>
                            You shall maintain security incident management policies and procedures and shall, to
                            the extent permitted
                            by law, promptly notify Beroe of any actual or reasonably suspected accidental or
                            unlawful destruction,
                            loss, alteration, unauthorized disclosure, of, or access to Personal Data, Processed by
                            You or Your
                            Processors of which You become aware (a “Data Security Breach”) without undue delay,
                            and in no event later
                            than 24 hours from discovery. You shall make reasonable efforts to identify and
                            remediate the cause of such
                            Data Security Breach, and shall be solely responsible to notify Supervisory Authorities
                            and Data Subjects of
                            any Data Security Breach and pay all costs associated with the same.
                        </li>
                    </ol>
                </li>
                <li>You agree to our Privacy Policy and our Processing of Personal Data as described therein</li>
            </ol>
        </li>
        <li>
            <b>Appendix (1.0) –Third Party Services Providers Ref. Link</b><br />
            Rapid Ratings:<br />
            <a href="https://www.rapidratings.com/terms-of-use/" target="_blank">https://www.rapidratings.com/terms-of-use/</a>
            <br />
            <a href="https://www.rapidratings.com/privacy-policy/" target="_blank">https://www.rapidratings.com/privacy-policy/</a>
            <br />
            Eco Vadis:<br />
            <a href="https://www.ecovadis.com/wp-content/uploads/Suppliers_Disclaimer_ENG-3.pdf" target="_blank">https://www.ecovadis.com/wp-content/uploads/Suppliers_Disclaimer_ENG-3.pdf</a>
            <br />
            <a href="https://www.ecovadis.com/us/legal-notice/" target="_blank">https://www.ecovadis.com/us/legal-notice/</a>
            <br />
            CSRHub:<br />
            <a href="https://www.csrhub.com/sustainableproducts/termsofuse/" target="_blank">https://www.csrhub.com/sustainableproducts/termsofuse/</a>
            <br />
            <a href="https://esg.csrhub.com/privacy?_ga=2.222546707.984339807.1541065567-1493041630.1541065567" target="_blank">https://esg.csrhub.com/privacy?_ga=2.222546707.984339807.1541065567-1493041630.1541065567</a>
            <br />
            D&B:<br />
            <a href="https://www.dnb.com/utility-pages/terms-of-use.html" target="_blank">https://www.dnb.com/utility-pages/terms-of-use.html</a>
            <br />
            <a href="https://www.dnb.com/utility-pages/privacy-policy.html" target="_blank">https://www.dnb.com/utility-pages/privacy-policy.html</a>
            <br />
            Achilles:<br />
            <a href="https://www.achilles.com//app/uploads/2019/02/Beroe-Silver-Supplier-TCs.pdf" target="_blank">https://www.achilles.com//app/uploads/2019/02/Beroe-Silver-Supplier-TCs.pdf</a>
        </li>
    </ol>
</div>
<!-- </div>
<div class="modal-footer">
    <button class="btn btn-modal-close" (click)="activeModal.dismiss('Close clicked')">
        Close
    </button>
</div> -->
